html {
background: lightgray url(bg.jpg) no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover; /*Para compatibilidad*/
-moz-animation-size: cover;
-o-background-size: cover;
font-family: 'Trebuchet MS', Lucida Sans Unicode,sans-serif;
}

body{
    margin: 0;
}
p::first-letter{
    font-size: 1rem;
    font-weight: bold;
    color: #4c3803;

}
article,aside, footer, header {
    padding: 1rem;
}
header{
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
}
aside{
    background-color: #b28306;
    border-radius: 20px;
}
/*Barra de navegación*/
nav{
display: flex;
background-color: #ebcd7c;
border-radius: 20px;

}
nav a{
    /*Estilo de los enlaces dentro de las barras de navegación */
    flex: auto;
    text-align: center;
    text-decoration: none;
    background-color: #4c3803;
    color: #b28306;
    padding: 5px 0;
    margin: 0 5px;
    border-radius: 20px;

}
nav a:hover{
    color: white;
    outline: 1px solid;
    text-decoration: none;
}
a {
    color: gray;
    font-weight: bold;
text-decoration: none;
}
/*Para dispositivos con pantalla grande */
@media screen and (min-width: 480px) {
    body{
        display: flex;
        flex-direction: column;
        margin: auto;
        box-sizing: border-box;
        max-width: 75rem;
    }
    main{
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 0.5rem solid black ;
    }
    nav, header {
        order: -1; /*Para que suba la barra de navegación*/
    }
    article{
        flex: 75%; /* Las tres cuartas partes es el articulo*/
    }
    aside{
        flex: 25%;
    }
}