/* Selector de tipo */
h2 {
    text-align: center;
    color: navy;
}

/* Selector de clase */
.parrafo {
    font-size: 18px;
    color: darkblue;
    background-color: lightgray;
}

/* Selector de id */
#especial {
    font-size: 20px;
    color: white;
    background-color: darkred;
    text-align: right;
}
